<nav class="nav">
  <div class="nav-container">
    <a routerLink="/security/login" class="logo">
      <img src="../../../../assets/abrir-caja.png" alt="logo" width="40px" />
      <h2>Almace<span>nadora</span></h2>
    </a>

    <label for="menu" class="nav-label">
      <i class="bi bi-list"></i>
    </label>
    <input type="checkbox" id="menu" class="nav-check" />

    <div class="nav-menu">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/branches" routerLinkActive="active">Sucursales</a>
      <a routerLink="/security/login" routerLinkActive="active">Login</a>
    </div>
  </div>
</nav>
