<div class="container">
  <section class="img">
    <h2 class="h2 mx-3 mb-5">Bodegas <span class="titulo">Seguras,</span></h2>
    <h2 class="h2 mx-3"><span class="titulo">Soluciones</span> Simples.</h2>
  </section>

  <!-- Tipos de bodegas -->

  <section class="servicios-titulo">
    <h2>Servicios</h2>
  </section>

  <section class="servicios">
    <div class="servi card">
      <i class="bi bi-building-fill"></i>
      <h2>Almacen General</h2>
    </div>
    <div class="servi card">
      <i class="bi bi-wallet2"></i>
      <h2>Almacen Fiscal</h2>
    </div>
    <div class="servi card">
      <i class="bi bi-shield-fill-check"></i>
      <h2>Seguridad 24 hr</h2>
    </div>
    <div class="servi card">
      <i class="bi bi-truck"></i>
      <h2>Transporte</h2>
    </div>
  </section>

  <!-- Solicitar info -->
  <section class="solicitar-informacion mb-5">
    <button class="btn btn-warning">Solicitar Informacion</button>
  </section>
</div>
