<div class="container">
  <mat-stepper class="stepper card" orientation="vertical" linear>
    <!-- Paso 1 -->
    <mat-step editable="false">
      <form class="mb-3">
        <ng-template matStepLabel>Correo Electronico</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" [formControl]="email" />

          <!-- Mensajes de Error -->
          <mat-error *ngIf="email.hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="email.hasError('email')">
            Intruduce un correo valido
          </mat-error>
        </mat-form-field>
      </form>
      <button
        mat-button
        matStepperNext
        class="btn btn-dark"
        [disabled]="email.invalid"
      >
        siguiente
      </button>
      <button class="btn btn-outline-danger mx-1" (click)="redirection()">
        Cancelar
      </button>
    </mat-step>

    <!-- Paso 2 -->
    <mat-step editable="false">
      <form [formGroup]="form" class="mt-2">
        <ng-template matStepLabel>Nueva contraseña</ng-template>
        <mat-form-field>
          <mat-label>Codigo</mat-label>
          <input matInput type="text" formControlName="code" />

          <!-- Mensajes de Error -->
          <mat-error *ngIf="form.controls['code'].hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nueva contraseña</mat-label>
          <input matInput type="text" formControlName="newPassword" />

          <!-- Mensajes de Error -->
          <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="text" formControlName="confirm" />

          <!-- Mensajes de Error -->
          <mat-error *ngIf="form.controls['confirm'].hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>
      </form>
      <button
        class="btn btn-dark"
        [disabled]="form.invalid"
        (click)="sendNewPassword()"
      >
        Cambiar
      </button>
      <button
        matStepperPrevious
        class="btn btn-outline-danger mx-1"
        (click)="redirection()"
      >
        Cancelar
      </button>
    </mat-step>
  </mat-stepper>
</div>
