<div class="sucursales-titulo">
  <h2>Sucur<span class="amarillo">sales</span></h2>
</div>

<div class="nueva-sucursal bg-dark rounded mb-4">
  <i class="bi bi-plus" (click)="goBranchForm()"></i>
</div>

<div class="row gy-4">
  <section class="col-lg-4 col-md-6" *ngFor="let sucursal of sucursales">
    <div class="card shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        {{ sucursal.name }}
        <button
          class="btn btn-dark mx-2 btn-update"
          (click)="goBranchFormUpdate()"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Ubicacion: {{ sucursal.address }}</h5>
        <p class="card-text">
          Estado:
          <span *ngIf="sucursal.status; else inactivo">Activo</span>
          <ng-template #inactivo>Inactivo</ng-template>
        </p>
        <p class="card-text">Bodegas Disponibles:{{ sucursal.storage }}</p>
        <a
          [routerLink]="['/branches/branch', sucursal.id]"
          class="btn btn-outline-warning"
          >Go somewhere</a
        >
      </div>
    </div>
  </section>
</div>
