<footer class="footer">
  <!-- Seccion-1 -->
  <section class="seccion-1">
    <div class="logo">
      <img src="../../../../assets/abrir-caja.png" alt="logo" width="40px" />
      <h2>Almace<span>nadora</span></h2>
    </div>

    <p>
      Guarda con confianza, accede con facilidad. <br />
      Descubre la comodidad de nuestro almacén de bodegas a tu disposición.
    </p>

    <div class="redes">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-linkedin"></i>
    </div>
  </section>

  <!-- Seccion-2 -->
  <section class="seccion-2">
    <h2>Contacto</h2>
    <div>
      <i class="bi bi-telephone-fill"></i>
      0000-0000
    </div>
    <div>
      <i class="bi bi-whatsapp"></i>
      502 0000-0000
    </div>
    <div>
      <i class="bi bi-envelope-at-fill"></i>
      alamcenes.sap&#64;gmail.com
    </div>
  </section>

  <!-- Seccion-3 -->
  <section class="seccion-3">
    <h2>Desarrolladores</h2>
    <p>&copy; Diego Morales | diegomoralesss007&#64;gmail.com</p>
    <p>&copy; Marlon Chajon | mchajon.suchite&#64;gmail.com</p>
  </section>
</footer>
