<div class="container">
  <div class="tarjeta-login card px-4">
    <section class="logo">
      <h2>Almacenadora</h2>
      <img src="../../../../assets/abrir-caja.png" alt="Logo" />
    </section>

    <!-- Formulario -->
    <section class="form">
      <form class="row" [formGroup]="form">
        <!-- Email -->
        <mat-form-field class="col-12">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />

          <!-- Mensajes de Error -->
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            Ingresa un correo
          </mat-error>
          <mat-error> Ingresa un correo valido </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="col-12">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            class="btn border-0"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <!-- Mensajes de Error -->
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </form>

      <div class="button mt-2">
        <button
          class="btn btn-dark"
          (click)="login()"
          [disabled]="form.invalid"
        >
          Iniciar Sesion
        </button>
      </div>
    </section>
    <div class="password">
      <p routerLink="/security/forgotPassword">Has olvidado tu contraseña?</p>
    </div>
  </div>
</div>
