<div class="container">
  <section class="back">
    <div>
      <i class="bi bi-arrow-left mt-3" (click)="goBack()"></i>
    </div>
  </section>

  <div class="nombre-sucursal mt-2">
    <h2>Sucursal</h2>
  </div>

  <section class="operations m-auto mb-3 row">
    <div class="search col-lg-5 col-md-8 col-sm-12 row bg-white border">
      <div class="col-md-11 col-10">
        <input type="text" />
      </div>

      <div class="col-md-1 col-2 search-icon">
        <mat-icon matSuffix>search</mat-icon>
      </div>
    </div>
  </section>

  <section class="warehouses">
    <app-warehouses [bodegas]="bodegas"></app-warehouses>
  </section>

  <section>
    <div class="">
      <mat-paginator
        class="paginator"
        [length]="100"
        [pageSize]="10"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </section>
</div>
