<div class="container">
  <section class="text-center">
    <h1 *ngIf="!mode">Agregar Sucursal</h1>
    <h1 *ngIf="mode">Editar Sucursal</h1>
  </section>

  <form class="row m-auto" [formGroup]="form">
    <mat-form-field class="col-lg-4 col-md-6">
      <mat-label>Nombre Sucursal</mat-label>
      <input matInput type="text" formControlName="name" />

      <!-- Mensajes de error -->
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-md-6">
      <mat-label>Ubicacion</mat-label>
      <input matInput type="text" formControlName="address" />

      <!-- Mensajes de error -->
      <mat-error *ngIf="form.get('address')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-md-6">
      <mat-label>Parqueo</mat-label>
      <mat-select formControlName="parking">
        <mat-option *ngFor="let sel of select" [value]="sel.code">{{
          sel.description
        }}</mat-option>
      </mat-select>

      <!-- Mensajes de error -->
      <mat-error *ngIf="form.get('parking')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-md-6">
      <mat-label>Telefono de la empresa</mat-label>
      <input matInput type="number" formControlName="phone" />

      <!-- Mensajes de error -->
      <mat-error *ngIf="form.get('phone')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>
  </form>

  <section class="buttons d-flex justify-content-center flex-wrap">
    <button
      class="btn btn-dark flex-grow-1 mt-2"
      (click)="addBranch()"
      [disabled]="form.invalid"
    >
      Agregar
    </button>
    <button class="btn btn-danger mx-2 flex-grow-1 mt-2" (click)="goBack()">
      Cancelar
    </button>
  </section>
</div>
`
